{% extends 'base.html'  %}

{% block content %}

<div style="width:100%;display:flex;justify-content:center;margin-top:60px;">
<div style="width:400px;background:white;padding:30px;border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,0.1);">

<h3> Sign Up</h3>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}


   <button type="submit"
    style="background:orange;color:white;padding:8px 20px;border:none;border-radius:5px;">
    Ro'yxatdan o'tish
    </button>

</form>
</div>
</div>
{% endblock %}
